body{
	font: 100% Courier New;
	margin: 20px;
	line-height: 26px;
	background-image:url(bg.jpg);
	background-attachment:fixed;
	background-size: cover;
	z-index:0;
}
.innersplit{
	color: #92a8d1;
	background-color: rgba(0, 0, 0, .5);
	margin:0 210px;
	text-align: center;
}
.big textarea{
	width: 300px;
}
.lang{
	float:right;
	color: #ffffff;
	padding: 10px;
	width: 190px;
	position: -webkit-sticky;
	position: sticky;
	top:0;
	/*bottom: 0;
    top: 0;
    right: 0;
    position: absolute;*/
	background-color: rgba(0, 0, 0, .3);
}
